openapi: 3.0.0
info:
  title: API League — News
  description: API League is a Hub for World Class APIs.
  version: 1.9.0
  termsOfService: https://apileague.com/terms
  contact:
    name: David Urbansky
    email: mail@apileague.com
servers:
- url: https://api.apileague.com
tags:
- name: News
security:
- apiKey: []
- headerApiKey: []
paths:
  /search-news:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                  number:
                    type: integer
                  available:
                    type: integer
                  news:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                          nullable: true
                        text:
                          type: string
                          nullable: true
                        summary:
                          type: string
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        image:
                          type: string
                          nullable: true
                        video:
                          type: string
                          nullable: true
                        publish_date:
                          type: string
                          nullable: true
                        authors:
                          type: array
                          items:
                            type: string
                            nullable: true
                        category:
                          type: string
                          nullable: true
                        language:
                          type: string
                          nullable: true
                        source_country:
                          type: string
                          nullable: true
                        sentiment:
                          type: number
              examples:
                Response:
                  value:
                    offset: 0
                    number: 10
                    available: 83
                    news:
                    - id: 28
                      title: Tesla to Release a Four-Motor Version of Cybertruck
                      text: 'Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck
                        electric pickup truck, the mass production of which was delayed until 2023 because
                        of the lack of components and a lot of complex technologies that need to be scaled
                        up. According to Musk, the initial production of the electric pickup truck will
                        begin with a four-motor variant with “independent, ultra fast response torque
                        control of each wheel,” the tweet reads. In response, Twitter users asked if the
                        Cybertruck could turn like a tank. Musk said that thanks to both the rear and
                        front wheel steer, the electric truck will not only be able to turn like a tank,
                        but also drive diagonally like a crab. According to Electrek, this change could
                        be Tesla''s reaction to what its competitors do. Since the introduction of Tesla’s
                        novelty, the market for electric pickup trucks has significantly evolved. Currently,
                        one electric pickup on the market can turn like a tank – the Rivian R1T, while
                        GMC''s Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck
                        in 2019, the company announced three configurations of the pickup truck: the entry-level
                        model with one motor, the one with two motors, and the one with three. Rumor has
                        it that the company intends to abandon the single-motor version altogether. In
                        this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk
                        has promised to provide an update on the pickup''s roadmap on the next earnings
                        call. The production of Tesla Cybertruck is expected to begin at the end of 2022,
                        and its mass production is slated to start in 2023.'
                      summary: Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck
                        electric pickup truck. According to Musk, its initial production will begin with
                        a four-motor variant.
                      url: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
                      image: https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png
                      video: https://cdn.jwplayer.com/videos/70lDQJpg-RyIcpnTz.mp4
                      publish_date: '2022-09-30 01:07:48'
                      authors:
                      - Iwan Stone
                      - Zahna Eklund
                      category: business
                      language: en
                      source_country: co
                      sentiment: 0.712523
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: text
        description: The text to match in the news content (at least 3 characters, maximum 100 characters).
          By default all query terms are expected, you can use an uppercase OR to search for any terms,
          e.g. tesla OR ford. You can also exclude terms by putting a minus sign (-) in front of the term,
          e.g. tesla -ford.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: tesla
        required: false
        style: form
        explode: false
        in: query
      - name: source-countries
        description: A comma-separated list of ISO 3166 country codes from which the news should originate.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: us,uk
        required: false
        style: form
        explode: false
        in: query
      - name: language
        description: The ISO 6391 language code of the news.
        schema:
          pattern: .
          maxLength: 2
          type: string
          example: en
        required: false
        style: form
        explode: false
        in: query
      - name: min-sentiment
        description: The minimal sentiment of the news in range [-1,1].
        schema:
          format: double
          minimum: -1
          maximum: 1
          type: number
          example: -0.8
        required: false
        style: form
        explode: false
        in: query
      - name: max-sentiment
        description: The maximal sentiment of the news in range [-1,1].
        schema:
          format: double
          minimum: -1
          maximum: 1
          type: number
          example: 0.8
        required: false
        style: form
        explode: false
        in: query
      - name: earliest-publish-date
        description: The news must have been published after this date.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: '2022-04-22 16:12:35'
        required: false
        style: form
        explode: false
        in: query
      - name: latest-publish-date
        description: The news must have been published before this date.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: '2022-04-22 16:12:35'
        required: false
        style: form
        explode: false
        in: query
      - name: news-sources
        description: A comma-separated list of news sources from which the news should originate.
        schema:
          pattern: .
          maxLength: 10000
          type: string
          example: https://www.bbc.co.uk
        required: false
        style: form
        explode: false
        in: query
      - name: authors
        description: A comma-separated list of author names. Only news from any of the given authors will
          be returned.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: John Doe
        required: false
        style: form
        explode: false
        in: query
      - name: categories
        description: A comma-separated list of categories. Only news from any of the given categories
          will be returned. Possible categories are politics, sports, business, technology, entertainment,
          health, science, lifestyle, travel, culture, education, environment, other.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: politics,sports
        required: false
        style: form
        explode: false
        in: query
      - name: entities
        description: Filter news by entities (ORG, PER, or LOC).
        schema:
          pattern: .
          maxLength: 10000
          type: string
          example: ORG:Tesla
        required: false
        style: form
        explode: false
        in: query
      - name: location-filter
        description: Filter news by radius around a certain location. Format is "latitude,longitude,radius
          in kilometers"
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: 51.050407, 13.737262, 100
        required: false
        style: form
        explode: false
        in: query
      - name: sort
        description: The sorting criteria (publish-time).
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: publish-time
        required: false
        style: form
        explode: false
        in: query
      - name: sort-direction
        description: Whether to sort ascending or descending (ASC or DESC).
        schema:
          pattern: .
          maxLength: 4
          type: string
          example: ASC
        required: false
        style: form
        explode: false
        in: query
      - name: offset
        description: The number of news to skip in range [0,10000]
        schema:
          format: int32
          minimum: 0
          maximum: 10000
          type: integer
          example: 0
        required: false
        style: form
        explode: false
        in: query
      - name: number
        description: The number of news to return in range [1,100]
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 10
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-news-api/
      summary: Search News API
      tags:
      - News
      description: Search and filter millions of news from over 200 countries in 90 languages by text,
        date, location, category, language, and more. The API returns a list of news articles matching
        the given criteria. You can set as many filtering parameters as you like, but you have to set
        at least one, e.g. text or language.
      operationId: searchNewsAPI
      deprecated: false
  /retrieve-top-news:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_news:
                    type: array
                    items:
                      type: object
                      properties:
                        news:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              title:
                                type: string
                                nullable: true
                              text:
                                type: string
                                nullable: true
                              summary:
                                type: string
                                nullable: true
                              url:
                                type: string
                                nullable: true
                              image:
                                type: string
                                nullable: true
                              publish_date:
                                type: string
                                nullable: true
                              authors:
                                type: array
                                items:
                                  type: string
                                  nullable: true
                  language:
                    type: string
                    nullable: true
                  country:
                    type: string
                    nullable: true
              examples:
                Response:
                  value:
                    top_news:
                    - news:
                      - id: 224767206
                        title: Jury to Begin Deliberations In Trump Trial
                        text: '...'
                        summary: '...'
                        url: https://politicalwire.com/2024/05/28/jury-to-begin-deliberations-in-trump-trial/
                        image: https://politicalwire.com/wp-content/uploads/2018/02/PW-podcast-logo.jpg
                        publish_date: '2024-05-29 00:10:48'
                        authors:
                        - Taegan Goddard
                      - id: 224839780
                        title: Jury in Donald Trump's hush money case to begin deliberations
                        text: '...'
                        summary: '...'
                        url: https://apnews.com/article/trump-trial-deliberations-jury-judge-verdict-390f045e9e8a37f069e82576edd7a842
                        image: https://dims.apnews.com/dims4/default/3446536/2147483647/strip/true/crop/6195x3485+0+323/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fec%2Fd5%2Ff56fdc38f86e38b6217b50083d19%2Fd5ef4afe1cb64825be1349de8fd40df0
                        publish_date: '2024-05-29 04:30:08'
                        authors: []
                      - id: 224936214
                        title: Jury in Trump's hush money case to begin deliberations after hearing instructions
                          from judge
                        text: '...'
                        summary: '...'
                        url: https://whdh.com/news/jury-in-trumps-hush-money-case-to-begin-deliberations-after-hearing-instructions-from-judge/
                        image: https://whdh.com/wp-content/uploads/sites/3/2024/05/WHDH_2024-05-27_15h27-33-cover.jpg?quality=60&strip=color
                        publish_date: '2024-05-29 08:47:26'
                        authors: []
                      - id: 224956968
                        title: Trump trial jury set to begin deliberating verdict today after judge issues
                          instructions
                        text: '...'
                        summary: '...'
                        url: https://www.cbsnews.com/live-updates/trump-trial-verdict-jury-deliberations-judge-instructions/
                        image: https://assets3.cbsnewsstatic.com/hub/i/r/2024/05/29/66524a85-576c-4c40-94ba-cfb04cbb7950/thumbnail/1200x630g3/d2d9c8ea35b659db292c371bdc0a47e8/gettyimages-2154550679.jpg?v=c5044be0004eac09882c007ac02fef6d
                        video: https://prod.vodvideo.cbsnews.com/cbsnews/vr/hls/2942696_hls/master.m3u8
                        publish_date: '2024-05-29 10:00:18'
                        authors: []
                      - id: 224957034
                        title: Jury in Trump’s Hush-Money Trial to Begin Deliberations on Wednesday
                        text: '...'
                        summary: '...'
                        url: https://www.nytimes.com/2024/05/29/nyregion/trump-trial-jury-charges.html
                        image: https://static01.nyt.com/images/2024/05/29/multimedia/29trump-trial-pinned-qzmh/29trump-trial-pinned-qzmh-facebookJumbo-v2.jpg
                        publish_date: '2024-05-29 10:12:08'
                        authors: []
                      - id: 224961802
                        title: Jury to begin deliberations in Trump trial and more top headlines
                        text: '...'
                        summary: '...'
                        url: https://www.foxnews.com/us/judge-outline-framework-jury-trial-decide-trumps-fate-more-top-headlines
                        image: https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2024/05/931/524/judge-trump.png?ve=1&tl=1
                        publish_date: '2024-05-29 10:22:36'
                        authors: []
                    - news:
                      - id: 225109966
                        title: Scottie Scheffler PGA Championship charges set to get dropped
                        text: '...'
                        url: https://www.sbnation.com/golf/2024/5/29/24167024/scottie-scheffler-pga-championship-louisville-police-drop-charges
                        image: https://cdn.vox-cdn.com/thumbor/WBEMdSSOD_jHJGnNV7hLX88zANk=/0x444:5601x3376/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/25469085/2152809074.jpg
                        publish_date: '2024-05-29 15:24:34'
                        authors:
                        - Brendan Porath
                      - id: 225118216
                        title: Charges against world’s top golfer Scottie Scheffler dropped after arrest
                          outside PGA Championship
                        text: '...'
                        summary: '...'
                        url: https://www.pilotonline.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        image: https://www.pilotonline.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024
                        publish_date: '2024-05-29 17:05:55'
                        authors: []
                      - id: 225118304
                        title: Charges against world’s top golfer Scottie Scheffler dropped after arrest
                          outside PGA Championship
                        text: '...'
                        summary: '...'
                        url: https://www.twincities.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        image: https://www.twincities.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024
                        publish_date: '2024-05-29 17:05:55'
                        authors: []
                      - id: 225119550
                        title: Charges against world's top golfer Scottie Scheffler dropped after arrest
                          outside PGA Championship
                        text: '...'
                        summary: '...'
                        url: https://wsvn.com/sports/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        image: https://wsvn.com/wp-content/uploads/sites/2/2024/04/240414_Scottie_Scheffler.jpg?quality=60&strip=color
                        publish_date: '2024-05-29 17:10:09'
                        authors: []
                    - news:
                      - id: 225012756
                        title: Pandas to return to DC's National Zoo
                        text: '...'
                        summary: '...'
                        url: https://www.nbcwashington.com/news/local/national-zoo-expected-to-make-announcement-about-panda-program/3627045/
                        image: https://media.nbcwashington.com/2019/09/AP163564666366.jpg?quality=85&strip=all&fit=722%2C406
                        publish_date: '2024-05-29 12:37:10'
                        authors: []
                      - id: 225017360
                        title: Giant pandas are returning to D.C.'s National Zoo
                        text: '...'
                        summary: '...'
                        url: https://apnews.com/article/giant-pandas-washington-zoo-china-764f8016d98c01ab579bdbb6dcc3dd6b
                        image: https://dims.apnews.com/dims4/default/1f5b9aa/2147483647/strip/true/crop/3382x1902+0+176/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fc4%2F1e%2F69094cc265243956d243348db814%2F71b160bbb0204eb594474a4934fb0df6
                        publish_date: '2024-05-29 12:51:08'
                        authors: []
                      - id: 225017634
                        title: 2 new giant pandas are returning to Washington’s National Zoo from China
                          by the end of the year
                        text: '...'
                        summary: '...'
                        url: https://www.baltimoresun.com/2024/05/29/2-new-giant-pandas-are-returning-to-washingtons-national-zoo-from-china-by-the-end-of-the-year/
                        image: https://www.baltimoresun.com/wp-content/uploads/2024/05/Giant_Pandas_89303.jpg?w=1024
                        publish_date: '2024-05-29 12:52:08'
                        authors: []
                    language: en
                    country: us
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: source-country
        description: The ISO 3166 country code of the country for which top news should be retrieved.
        schema:
          pattern: .
          maxLength: 2
          type: string
          example: us
        required: true
        style: form
        explode: false
        in: query
      - name: language
        description: The ISO 6391 language code of the top news. The language must be one spoken in the
          source-country.
        schema:
          pattern: .
          maxLength: 2
          type: string
          example: en
        required: true
        style: form
        explode: false
        in: query
      - name: date
        description: The date for which the top news should be retrieved. If no date is given, the current
          day is assumed.
        schema:
          pattern: .
          maxLength: 10
          type: string
          example: '2024-05-30'
        required: false
        style: form
        explode: false
        in: query
      - name: headlines-only
        description: Whether to only return basic information such as id, title, and url of the news.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/top-news-api/
      summary: Top News API
      tags:
      - News
      description: Get the top news from a country (over 220 are supported) in a language (over 90 are
        supported) for a specific date. The top news are clustered from multiple sources in the given
        country. The more news in a cluster the higher the cluster is ranked.
      operationId: topNewsAPI
      deprecated: false
  /extract-news:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    nullable: true
                  text:
                    type: string
                    nullable: true
                  url:
                    type: string
                    nullable: true
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        width:
                          type: integer
                        height:
                          type: integer
                  videos:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        summary:
                          type: string
                          nullable: true
                        duration:
                          type: integer
                        thumbnail:
                          type: string
                          nullable: true
                  publish_date:
                    type: string
                    nullable: true
                  authors:
                    type: array
                    items:
                      type: string
                      nullable: true
                  language:
                    type: string
                    nullable: true
              examples:
                Response:
                  value:
                    title: Known terrorist spent year in US after being wrongly released by feds — and
                      GOP lawmakers demand answers
                    text: 'A Somali terrorist was allowed into the country and was able to operate freely
                      for almost a year before authorities realized their error and rearrested him. Republican
                      lawmakers are demanding information from Homeland Security Secretary Alejandro Mayorkas
                      about what happened to the man — and whether US citizens funded any part of his
                      journey to or stay in the US. The 27-year-old Somalian — who so far has not been
                      identified by name — was on the watchlist as “a confirmed member of al Shabaab”
                      involved in the use, manufacture or transportation of explosives or firearms, but
                      a border bungle meant he was released after initially being arrested for crossing
                      into the country illegally in California in March 2023. A letter from Republican
                      lawmakers seeks to find the al-Shabaab member’s path from illegally crossing the
                      border to Minnesota, were he was eventually rearrested in January, and whether he
                      received any government benefits. It also seeks to find if he took a commercial
                      flight with US citizens to reach their state and if his travel was funded with taxpayer
                      dollars, according to the Tuesday letter, first obtained by The Post. The letter
                      states: “Due to Minnesota’s far distance from the border, it is not an easy task
                      for migrants to travel to the state … “Did the al-Shabbab terrorist travel to Minnesota
                      with the assistance, either direct or indirect of an [Non-Governmental Organization]?
                      If so, which NGO was responsible for transporting the individual to Minnesota?”
                      The terrorist organization member had initially crossed into California and been
                      arrested by the Border Patrol. However, the Terrorist Screening Center determined
                      he was a “mismatch” to the terror watchlist, leading to his release. Nearly a year
                      later, Immigration and Customs Enforcement (ICE) nabbed him after federal authorities
                      made a “redetermination” and realized he was associated with the Somalian militant
                      group. Al-Shabaab was formed as the militant wing of the Somali Council of Islamic
                      Courts, which controlled the southern part of the country in late 2006. Its rule
                      was defeated in 2007, according to the Office of the Director of National Intelligence,
                      but it has since operated as an underground network and is involved in wars in and
                      around Somalia. It was designated a terrorist organization in 2008 by the US government
                      and is notorious for carrying out bombings and suicide attacks. In 2013, al-Shabaab
                      was responsible for a massacre at the Westgate mall in Kenya, killing 67 individuals.
                      US forces have conducted six strikes in Somalia against al-Shabaab already this
                      year, killing two dozen militants in the latest actions, according to CNN. In a
                      February press conference, ICE Acting Director Patrick Lechleitner said his agency
                      arrested the individual “within 48 hours” of learning his true identity. “The Biden
                      administration’s open-borders agenda allowed a known terrorist to roam freely throughout
                      our state, and now they must answer for their inexcusable negligence,” House Majority
                      Whip Tom Emmer (R-Minn.) said in a statement to The Post regarding the probe. The
                      Border Patrol has recorded an ever-growing number of migrants listed on the terror
                      watchlist attempting to enter the US illegally in recent years. Between October
                      2023 and February, agents have already recorded 70 encounters at both the southern
                      and northern borders, according to federal data. There were 172 such encounters
                      recorded in fiscal year 2023, which ran from October 2022 to September 2023, 98
                      in fiscal year 2022, 16 in fiscal year 2021 and 14 between fiscal years 2017 and
                      2020. In March, Border Patrol agents apprehended Lebanese national Basel Bassel
                      Ebbadi, 22, who told personnel that he came to the US “to try to make a bomb,” according
                      to internal federal documents first obtained by The Post. Ebbadi admitted to a border
                      agent that he is a member of Hezbollah and was later confirmed as a “positive match”
                      on the terror watchlist.'
                    url: https://nypost.com/2024/04/02/us-news/lawmakers-demand-to-know-if-taxpayers-funded-al-shabaab-terrorist/
                    images:
                    - title: Masked al-Shabaab members hold up weapons
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-somalias-hardline-islamist-rebel-39796525.jpg?w=1024
                      width: 879
                      height: 590
                    - title: Members of al-Shabaab
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-al-shabaab-said-friday-39807171.jpg?w=1024
                      width: 787
                      height: 590
                    - title: Border Patrol agents apprehend migrants
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/migrants-placed-vans-u-s-78334041.jpg?w=1024
                      width: 943
                      height: 590
                    - title: Migrants await to be transported by Border Patrol agents
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/asylum-seeking-migrants-stand-line-71972565.jpg?w=1024
                      width: 885
                      height: 590
                    - title: Border Patrol vehicle
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/u-s-border-patrol-vehicle-56717052.jpg?w=1024
                      width: 885
                      height: 590
                    - url: https://nypost.com/wp-content/uploads/sites/2/2024/04/al-shabaab-terrorist-migrant-border-crossing-california-minnesota-mayorkas-comp-02.jpg?quality=75&strip=all&w=1200
                      width: 1200
                      height: 800
                    videos:
                    - title: Today's Video Headlines
                      url: https://cdn.jwplayer.com/videos/Den1Nq47-RyIcpnTz.mp4
                      summary: 'Today''s Video Headlines: 4/2/24'
                      duration: 61
                      thumbnail: https://cdn.jwplayer.com/v2/media/Den1Nq47/poster.jpg?width=720
                    publish_date: '2024-04-02 17:13:12'
                    authors:
                    - Jennie Taer
                    language: en
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: url
        description: The url of the news.
        schema:
          pattern: .
          maxLength: 1000
          type: string
          example: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
        required: true
        style: form
        explode: false
        in: query
      - name: analyze
        description: Whether to analyze the news (extract entities etc.)
        schema:
          type: boolean
          example: true
        required: true
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-news-api/
      summary: Extract News API
      tags:
      - News
      description: Extract a news article from a website to a well structure JSON object. The API will
        return the title, text, URL, image, publish date, author, language, source country, and sentiment
        of the news article.
      operationId: extractNewsAPI
      deprecated: false
components:
  securitySchemes:
    apiKey:
      name: api-key
      type: apiKey
      in: query
    headerApiKey:
      name: x-api-key
      type: apiKey
      in: header
