openapi: 3.0.0
info:
  title: API League — Books
  description: API League is a Hub for World Class APIs.
  version: 1.9.0
  termsOfService: https://apileague.com/terms
  contact:
    name: David Urbansky
    email: mail@apileague.com
servers:
- url: https://api.apileague.com
tags:
- name: Books
security:
- apiKey: []
- headerApiKey: []
paths:
  /search-books:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_results:
                    type: integer
                  number:
                    type: integer
                  offset:
                    type: integer
                  books:
                    type: array
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          title:
                            type: string
                            nullable: true
                          image:
                            type: string
                            nullable: true
              examples:
                Response:
                  value:
                    total_results: 5999
                    number: 10
                    offset: 0
                    books:
                    - - id: 17200576
                        title: Journey to Hogwarts
                        image: https://covers.openlibrary.org/b/id/2520429-M.jpg
                    - - id: 15954006
                        title: Inside Hogwarts
                        subtitle: Magical Paintbook
                        image: https://covers.openlibrary.org/b/id/2520430-M.jpg
                    - - id: 16384516
                        title: Harry Potter and the Goblet of Fire
                        image: https://covers.openlibrary.org/b/id/12775900-M.jpg
                    - - id: 14296534
                        title: Harry Potter and the Order of the Phoenix
                        image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                    - - id: 14530450
                        title: Great Gatsby (Silver Screen Edition)
                        image: https://covers.openlibrary.org/b/id/12791857-M.jpg
                    - - id: 18810398
                        title: The Hobbit
                        subtitle: or, There and back again
                        image: https://covers.openlibrary.org/b/id/394001-M.jpg
                    - - id: 13597674
                        title: The Name of the Wind
                        subtitle: 'The Kingkiller Chronicle : day one'
                        image: https://covers.openlibrary.org/b/id/6282709-M.jpg
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: query
        description: The search query.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: books about wizards
        required: false
        style: form
        explode: false
        in: query
      - name: earliest-publish-year
        description: The books must have been published after this year.
        schema:
          format: int32
          minimum: 0
          maximum: 9999
          type: integer
          example: 2022
        required: false
        style: form
        explode: false
        in: query
      - name: latest-publish-year
        description: The books must have been published before this year.
        schema:
          format: int32
          minimum: 0
          maximum: 9999
          type: integer
          example: 2023
        required: false
        style: form
        explode: false
        in: query
      - name: min-rating
        description: The minimum rating the book must have gotten in the interval [0,1].
        schema:
          format: double
          minimum: 0
          maximum: 1
          type: number
          example: 0.8
        required: false
        style: form
        explode: false
        in: query
      - name: max-rating
        description: The maximum rating the book must have gotten in the interval [0,1].
        schema:
          format: double
          minimum: 0
          maximum: 1
          type: number
          example: 0.99
        required: false
        style: form
        explode: false
        in: query
      - name: genres
        description: A comma-separated list of genres. Only books from any of the given genres will be
          returned.
        schema:
          pattern: .
          maxLength: 1000
          type: string
          example: nonfiction
        required: false
        style: form
        explode: false
        in: query
      - name: authors
        description: A comma-separated list of author ids or names. Only books from any of the given authors
          will be returned. You can retrieve author ids from the search authors endpoint. Pass author
          names is slower and if two authors have the same name you can't disambiguate.
        schema:
          pattern: .
          maxLength: 1000
          type: string
          example: J.K. Rowling
        required: false
        style: form
        explode: false
        in: query
      - name: isbn
        description: Only the book matching the ISBN-13 will be returned
        schema:
          pattern: .
          maxLength: 13
          type: string
          example: '9781781257654'
        required: false
        style: form
        explode: false
        in: query
      - name: oclc
        description: Only the book matching the OCLC will be returned
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: '864418200'
        required: false
        style: form
        explode: false
        in: query
      - name: sort
        description: The sorting criteria (publish-date or rating).
        schema:
          pattern: .
          maxLength: 10000
          type: string
          example: rating
        required: false
        style: form
        explode: false
        in: query
      - name: sort-direction
        description: Whether to sort ascending or descending (ASC or DESC).
        schema:
          pattern: .
          maxLength: 4
          type: string
          example: DESC
        required: false
        style: form
        explode: false
        in: query
      - name: group-results
        description: Whether to group similar editions of the same book.
        schema:
          type: boolean
          example: false
        required: false
        style: form
        explode: false
        in: query
      - name: offset
        description: The number of books to skip in range [0,1000]
        schema:
          format: int32
          minimum: 0
          maximum: 1000
          type: integer
          example: 0
        required: false
        style: form
        explode: false
        in: query
      - name: number
        description: The number of books to return in range [1,100]
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 10
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-books-api/
      summary: Search Books API
      tags:
      - Books
      description: Search and filter over 4 million books based on matching a query, the ISBN, rating,
        and more fields. The query is semantically parsed using our own large ontology. That means you
        can search paranormal books and the ontology knows that Aliens, Werewolves, Ghosts, and Shapeshifters
        fall into that category.
      operationId: searchBooksAPI
      deprecated: false
  /list-similar-books:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  similar_books:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                          nullable: true
                        image:
                          type: string
                          nullable: true
              examples:
                Response:
                  value:
                    similar_books:
                    - id: 14296534
                      title: Harry Potter and the Order of the Phoenix
                      image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                    - id: 16499448
                      title: Harry Potter and the Half-Blood Prince
                      image: https://covers.openlibrary.org/b/id/8235163-M.jpg
                    - id: 18610968
                      title: Blood and Fire
                      image: https://covers.openlibrary.org/b/id/10404497-M.jpg
                    - id: 20464852
                      title: Towers of midnight
                      subtitle: Wheel of Time Book 13
                      image: https://covers.openlibrary.org/b/id/6657713-M.jpg
                    - id: 13804028
                      title: Best of Robert Jordan
                      subtitle: The Shadow Rising; The Fires of Heaven; Lord of Chaos; A Crown of Swords
                        (The Wheel of Time Series)
                      image: https://covers.openlibrary.org/b/id/3027823-M.jpg
                    - id: 14987824
                      title: MAR, Volume 7
                      image: https://covers.openlibrary.org/b/id/765103-M.jpg
                    - id: 19984854
                      title: The Daysong of the Knightbird
                      image: https://covers.openlibrary.org/b/id/1822804-M.jpg
                    - id: 17174416
                      title: The key
                      image: https://covers.openlibrary.org/b/id/8369732-M.jpg
                    - id: 20121054
                      title: Bring me the head of Prince Charming
                      image: https://covers.openlibrary.org/b/id/3965371-M.jpg
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: id
        description: The id of the book to which similar books should be found.
        schema:
          format: int32
          minimum: 0
          maximum: 999999999
          type: integer
          example: 8302059
        required: true
        style: form
        explode: false
        in: query
      - name: number
        description: The number of similar books to return in range [1,100]
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 10
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/find-similar-books-api/
      summary: Find Similar Books API
      tags:
      - Books
      description: Find books that are similar to the given book (based on a set of over 4 million books).
        This is useful for recommending books to users based on their reading history or preferences.
        The response will contain a list of similar books with their title, id, and cover image.
      operationId: findSimilarBooksAPI
      deprecated: false
components:
  securitySchemes:
    apiKey:
      name: api-key
      type: apiKey
      in: query
    headerApiKey:
      name: x-api-key
      type: apiKey
      in: header
