openapi: 3.0.0
info:
  title: API League — Food
  description: API League is a Hub for World Class APIs.
  version: 1.9.0
  termsOfService: https://apileague.com/terms
  contact:
    name: David Urbansky
    email: mail@apileague.com
servers:
- url: https://api.apileague.com
tags:
- name: Food
security:
- apiKey: []
- headerApiKey: []
paths:
  /search-drinks:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                  number:
                    type: integer
                  drinks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                          nullable: true
                        images:
                          type: array
                          items:
                            type: string
                            nullable: true
                        price_per_serving:
                          type: number
                        nutrition:
                          type: object
                          properties:
                            nutrients:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    nullable: true
                                  amount:
                                    type: number
                                  unit:
                                    type: string
                                    nullable: true
                                  percent_of_daily_needs:
                                    type: number
                            properties:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    nullable: true
                                  amount:
                                    type: integer
                                  unit:
                                    type: string
                                    nullable: true
                            flavonoids:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    nullable: true
                                  amount:
                                    type: integer
                                  unit:
                                    type: string
                                    nullable: true
                            ingredient_breakdown:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                    nullable: true
                                  amount:
                                    type: integer
                                  unit:
                                    type: string
                                    nullable: true
                                  nutrients:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          nullable: true
                                        amount:
                                          type: integer
                                        unit:
                                          type: string
                                          nullable: true
                                        percent_of_daily_needs:
                                          type: number
                            caloric_breakdown:
                              type: object
                              properties:
                                percent_carbs:
                                  type: number
                                percent_protein:
                                  type: number
                                percent_fat:
                                  type: number
                            weight_per_serving:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                unit:
                                  type: string
                                  nullable: true
                        flavors:
                          type: array
                          items:
                            type: string
                            nullable: true
                        glass_type:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        cuisines:
                          type: array
                          items:
                            type: string
                            nullable: true
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              aisle:
                                type: string
                                nullable: true
                              image:
                                type: string
                                nullable: true
                              consistency:
                                type: string
                                nullable: true
                              name:
                                type: string
                                nullable: true
                              original:
                                type: string
                                nullable: true
                              amount:
                                type: integer
                              unit:
                                type: string
                                nullable: true
                              meta:
                                type: array
                                items:
                                  type: string
                                  nullable: true
                              measures:
                                type: object
                                properties:
                                  us:
                                    type: object
                                    properties:
                                      amount:
                                        type: integer
                                      unit_short:
                                        type: string
                                        nullable: true
                                      unit_long:
                                        type: string
                                        nullable: true
                                  metric:
                                    type: object
                                    properties:
                                      amount:
                                        type: number
                                      unit_short:
                                        type: string
                                        nullable: true
                                      unit_long:
                                        type: string
                                        nullable: true
                              original_name:
                                type: string
                                nullable: true
                              name_clean:
                                type: string
                                nullable: true
                        instructions:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                nullable: true
                              steps:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    number:
                                      type: integer
                                    step:
                                      type: string
                                      nullable: true
                                    ingredients:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          name:
                                            type: string
                                            nullable: true
                                          image:
                                            type: string
                                            nullable: true
                                    equipment:
                                      type: array
                                      items:
                                        type: string
                                        nullable: true
                        credits:
                          type: object
                          properties:
                            source_name:
                              type: string
                              nullable: true
                            source_url:
                              type: string
                              nullable: true
                            text:
                              type: string
                              nullable: true
                  total_results:
                    type: integer
              examples:
                Response:
                  value:
                    offset: 0
                    number: 1
                    drinks:
                    - id: 1957030
                      title: Vodka Fizz
                      images:
                      - https://img.apileague.com/recipes/1957030-90x90.jpg
                      - https://img.apileague.com/recipes/1957030-312x231.jpg
                      - https://img.apileague.com/recipes/1957030-636x393.jpg
                      - https://img.apileague.com/recipes/1957030-556x370.jpg
                      price_per_serving: 195.84
                      nutrition:
                        nutrients:
                        - name: Calories
                          amount: 244.51
                          unit: kcal
                          percent_of_daily_needs: 12.23
                        - name: Fat
                          amount: 7.25
                          unit: g
                          percent_of_daily_needs: 11.15
                        - name: Saturated Fat
                          amount: 4.5
                          unit: g
                          percent_of_daily_needs: 28.15
                        - name: Carbohydrates
                          amount: 10.85
                          unit: g
                          percent_of_daily_needs: 3.62
                        - name: Net Carbohydrates
                          amount: 10.44
                          unit: g
                          percent_of_daily_needs: 3.79
                        - name: Sugar
                          amount: 9.62
                          unit: g
                          percent_of_daily_needs: 10.69
                        - name: Cholesterol
                          amount: 19.84
                          unit: mg
                          percent_of_daily_needs: 6.61
                        - name: Sodium
                          amount: 41.87
                          unit: mg
                          percent_of_daily_needs: 1.82
                        - name: Alcohol
                          amount: 18.94
                          unit: g
                          percent_of_daily_needs: 100
                        - name: Alcohol %
                          amount: 10.52
                          unit: '%'
                          percent_of_daily_needs: 100
                        - name: Protein
                          amount: 1.89
                          unit: g
                          percent_of_daily_needs: 3.78
                        - name: Vitamin B2
                          amount: 0.12
                          unit: mg
                          percent_of_daily_needs: 6.77
                        - name: Calcium
                          amount: 66.03
                          unit: mg
                          percent_of_daily_needs: 6.6
                        - name: Phosphorus
                          amount: 60.96
                          unit: mg
                          percent_of_daily_needs: 6.1
                        - name: Vitamin A
                          amount: 202.75
                          unit: IU
                          percent_of_daily_needs: 4.06
                        - name: Manganese
                          amount: 0.06
                          unit: mg
                          percent_of_daily_needs: 2.93
                        - name: Selenium
                          amount: 1.85
                          unit: µg
                          percent_of_daily_needs: 2.64
                        - name: Magnesium
                          amount: 9.89
                          unit: mg
                          percent_of_daily_needs: 2.47
                        - name: Potassium
                          amount: 82.41
                          unit: mg
                          percent_of_daily_needs: 2.35
                        - name: Copper
                          amount: 0.04
                          unit: mg
                          percent_of_daily_needs: 2.01
                        - name: Zinc
                          amount: 0.27
                          unit: mg
                          percent_of_daily_needs: 1.8
                        - name: Vitamin B12
                          amount: 0.11
                          unit: µg
                          percent_of_daily_needs: 1.8
                        - name: Vitamin B1
                          amount: 0.03
                          unit: mg
                          percent_of_daily_needs: 1.78
                        - name: Fiber
                          amount: 0.42
                          unit: g
                          percent_of_daily_needs: 1.66
                        - name: Vitamin B5
                          amount: 0.16
                          unit: mg
                          percent_of_daily_needs: 1.64
                        - name: Vitamin B6
                          amount: 0.03
                          unit: mg
                          percent_of_daily_needs: 1.58
                        properties:
                        - name: Glycemic Index
                          amount: 85
                          unit: ''
                        - name: Glycemic Load
                          amount: 0.4
                          unit: ''
                        - name: Inflammation Score
                          amount: -1
                          unit: ''
                        - name: Nutrition Score
                          amount: 2.186956506708394
                          unit: '%'
                        flavonoids:
                        - name: Cyanidin
                          amount: 0
                          unit: ''
                        - name: Petunidin
                          amount: 0
                          unit: ''
                        - name: Delphinidin
                          amount: 0
                          unit: ''
                        - name: Malvidin
                          amount: 0
                          unit: ''
                        - name: Pelargonidin
                          amount: 0
                          unit: ''
                        - name: Peonidin
                          amount: 0
                          unit: ''
                        - name: Catechin
                          amount: 0
                          unit: ''
                        - name: Epigallocatechin
                          amount: 0
                          unit: ''
                        - name: Epicatechin
                          amount: 0
                          unit: ''
                        - name: Epicatechin 3-gallate
                          amount: 0
                          unit: ''
                        - name: Epigallocatechin 3-gallate
                          amount: 0
                          unit: ''
                        - name: Theaflavin
                          amount: 0
                          unit: ''
                        - name: Thearubigins
                          amount: 0
                          unit: ''
                        - name: Eriodictyol
                          amount: 0
                          unit: ''
                        - name: Hesperetin
                          amount: 0
                          unit: ''
                        - name: Naringenin
                          amount: 0
                          unit: ''
                        - name: Apigenin
                          amount: 0
                          unit: ''
                        - name: Luteolin
                          amount: 0
                          unit: ''
                        - name: Isorhamnetin
                          amount: 0
                          unit: ''
                        - name: Kaempferol
                          amount: 0
                          unit: ''
                        - name: Myricetin
                          amount: 0
                          unit: ''
                        - name: Quercetin
                          amount: 0
                          unit: ''
                        - name: Theaflavin-3,3'-digallate
                          amount: 0
                          unit: ''
                        - name: Theaflavin-3'-gallate
                          amount: 0
                          unit: ''
                        - name: Theaflavin-3-gallate
                          amount: 0
                          unit: ''
                        - name: Gallocatechin
                          amount: 0
                          unit: ''
                        ingredient_breakdown:
                        - id: 14051
                          name: vodka
                          amount: 2
                          unit: oz
                          nutrients:
                          - name: Vitamin B2
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.77
                          - name: Saturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 28.15
                          - name: Vitamin B1
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.78
                          - name: Magnesium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.47
                          - name: Zinc
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.8
                          - name: Protein
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.78
                          - name: Vitamin B6
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.58
                          - name: Net Carbohydrates
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.79
                          - name: Copper
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 2.01
                          - name: Sugar
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 10.69
                          - name: Manganese
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.93
                          - name: Poly Unsaturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Alcohol
                            amount: 18.94
                            unit: g
                            percent_of_daily_needs: 100
                          - name: Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 11.15
                          - name: Vitamin B5
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.64
                          - name: Folic Acid
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Carbohydrates
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.62
                          - name: Potassium
                            amount: 0.57
                            unit: mg
                            percent_of_daily_needs: 2.35
                          - name: Vitamin B3
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.44
                          - name: Iron
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 0.53
                          - name: Phosphorus
                            amount: 2.83
                            unit: mg
                            percent_of_daily_needs: 6.1
                          - name: Vitamin A
                            amount: 0
                            unit: IU
                            percent_of_daily_needs: 4.06
                          - name: Calcium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.6
                          - name: Fiber
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 1.66
                          - name: Vitamin C
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.69
                          - name: Folate
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0.81
                          - name: Sodium
                            amount: 0.57
                            unit: mg
                            percent_of_daily_needs: 1.82
                          - name: Cholesterol
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.61
                          - name: Calories
                            amount: 130.97
                            unit: kcal
                            percent_of_daily_needs: 12.23
                          - name: Mono Unsaturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Vitamin B12
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 1.8
                          - name: Selenium
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 2.64
                        - id: 1049
                          name: half-and-half
                          amount: 2
                          unit: oz
                          nutrients:
                          - name: Lycopene
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Saturated Fat
                            amount: 3.99
                            unit: g
                            percent_of_daily_needs: 28.15
                          - name: Vitamin B1
                            amount: 0.02
                            unit: mg
                            percent_of_daily_needs: 1.78
                          - name: Vitamin K
                            amount: 0.74
                            unit: µg
                            percent_of_daily_needs: 0.7
                          - name: Magnesium
                            amount: 5.67
                            unit: mg
                            percent_of_daily_needs: 2.47
                          - name: Zinc
                            amount: 0.22
                            unit: mg
                            percent_of_daily_needs: 1.8
                          - name: Protein
                            amount: 1.77
                            unit: g
                            percent_of_daily_needs: 3.78
                          - name: Vitamin B6
                            amount: 0.03
                            unit: mg
                            percent_of_daily_needs: 1.58
                          - name: Net Carbohydrates
                            amount: 2.44
                            unit: g
                            percent_of_daily_needs: 3.79
                          - name: Fluoride
                            amount: 1.7
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Copper
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 2.01
                          - name: Caffeine
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Vitamin E
                            amount: 0.14
                            unit: mg
                            percent_of_daily_needs: 0.94
                          - name: Sugar
                            amount: 2.34
                            unit: g
                            percent_of_daily_needs: 10.69
                          - name: Manganese
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.93
                          - name: Poly Unsaturated Fat
                            amount: 0.31
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Folic Acid
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Alcohol
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 100
                          - name: Fat
                            amount: 6.52
                            unit: g
                            percent_of_daily_needs: 11.15
                          - name: Vitamin D
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Vitamin B5
                            amount: 0.16
                            unit: mg
                            percent_of_daily_needs: 1.64
                          - name: Choline
                            amount: 10.6
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Vitamin B3
                            amount: 0.06
                            unit: mg
                            percent_of_daily_needs: 0.44
                          - name: Carbohydrates
                            amount: 2.44
                            unit: g
                            percent_of_daily_needs: 3.62
                          - name: Potassium
                            amount: 74.84
                            unit: mg
                            percent_of_daily_needs: 2.35
                          - name: Iron
                            amount: 0.03
                            unit: mg
                            percent_of_daily_needs: 0.53
                          - name: Phosphorus
                            amount: 53.86
                            unit: mg
                            percent_of_daily_needs: 6.1
                          - name: Vitamin A
                            amount: 200.71
                            unit: IU
                            percent_of_daily_needs: 4.06
                          - name: Calcium
                            amount: 60.67
                            unit: mg
                            percent_of_daily_needs: 6.6
                          - name: Fiber
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 1.66
                          - name: Vitamin C
                            amount: 0.51
                            unit: mg
                            percent_of_daily_needs: 0.69
                          - name: Folate
                            amount: 1.7
                            unit: µg
                            percent_of_daily_needs: 0.81
                          - name: Sodium
                            amount: 34.59
                            unit: mg
                            percent_of_daily_needs: 1.82
                          - name: Cholesterol
                            amount: 19.84
                            unit: mg
                            percent_of_daily_needs: 6.61
                          - name: Mono Unsaturated Fat
                            amount: 1.88
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Calories
                            amount: 74.28
                            unit: kcal
                            percent_of_daily_needs: 12.23
                          - name: Vitamin B12
                            amount: 0.11
                            unit: µg
                            percent_of_daily_needs: 1.8
                          - name: Vitamin B2
                            amount: 0.11
                            unit: mg
                            percent_of_daily_needs: 6.77
                          - name: Selenium
                            amount: 1.81
                            unit: µg
                            percent_of_daily_needs: 2.64
                        - id: 99185
                          name: limeade
                          amount: 2
                          unit: oz
                          nutrients:
                          - name: Vitamin B2
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.77
                          - name: Saturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 28.15
                          - name: Vitamin B1
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.78
                          - name: Vitamin K
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0.7
                          - name: Trans Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Magnesium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.47
                          - name: Zinc
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.8
                          - name: Protein
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.78
                          - name: Vitamin B6
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.58
                          - name: Net Carbohydrates
                            amount: 7.43
                            unit: g
                            percent_of_daily_needs: 3.79
                          - name: Fluoride
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Copper
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.01
                          - name: Caffeine
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Vitamin E
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.94
                          - name: Sugar
                            amount: 6.71
                            unit: g
                            percent_of_daily_needs: 10.69
                          - name: Manganese
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.93
                          - name: Poly Unsaturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Alcohol
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 100
                          - name: Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 11.15
                          - name: Vitamin D
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Vitamin B5
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.64
                          - name: Vitamin B3
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.44
                          - name: Carbohydrates
                            amount: 7.43
                            unit: g
                            percent_of_daily_needs: 3.62
                          - name: Potassium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.35
                          - name: Iron
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.53
                          - name: Phosphorus
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.1
                          - name: Vitamin A
                            amount: 0
                            unit: IU
                            percent_of_daily_needs: 4.06
                          - name: Calcium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.6
                          - name: Fiber
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 1.66
                          - name: Vitamin C
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.69
                          - name: Folate
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0.81
                          - name: Sodium
                            amount: 3.59
                            unit: mg
                            percent_of_daily_needs: 1.82
                          - name: Cholesterol
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.61
                          - name: Calories
                            amount: 28.76
                            unit: kcal
                            percent_of_daily_needs: 12.23
                          - name: Mono Unsaturated Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Vitamin B12
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 1.8
                          - name: Selenium
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 2.64
                        - id: 10014412
                          name: ice
                          amount: 1
                          unit: serving
                          nutrients:
                          - name: Fat
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 11.15
                          - name: Potassium
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.35
                          - name: Phosphorus
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.1
                          - name: Iron
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.53
                          - name: Carbohydrates
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.62
                          - name: Calcium
                            amount: 1.68
                            unit: mg
                            percent_of_daily_needs: 6.6
                          - name: Zinc
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 1.8
                          - name: Magnesium
                            amount: 0.56
                            unit: mg
                            percent_of_daily_needs: 2.47
                          - name: Fiber
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 1.66
                          - name: Protein
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.78
                          - name: Net Carbohydrates
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 3.79
                          - name: Fluoride
                            amount: 14.45
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Copper
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 2.01
                          - name: Sodium
                            amount: 2.8
                            unit: mg
                            percent_of_daily_needs: 1.82
                          - name: Manganese
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 2.93
                          - name: Calories
                            amount: 0
                            unit: kcal
                            percent_of_daily_needs: 12.23
                        - id: 2025
                          name: nutmeg
                          amount: 1
                          unit: serving
                          nutrients:
                          - name: Vitamin B2
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.77
                          - name: Saturated Fat
                            amount: 0.52
                            unit: g
                            percent_of_daily_needs: 28.15
                          - name: Vitamin B1
                            amount: 0.01
                            unit: mg
                            percent_of_daily_needs: 1.78
                          - name: Vitamin K
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0.7
                          - name: Magnesium
                            amount: 3.66
                            unit: mg
                            percent_of_daily_needs: 2.47
                          - name: Zinc
                            amount: 0.04
                            unit: mg
                            percent_of_daily_needs: 1.8
                          - name: Protein
                            amount: 0.12
                            unit: g
                            percent_of_daily_needs: 3.78
                          - name: Vitamin B6
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 1.58
                          - name: Net Carbohydrates
                            amount: 0.57
                            unit: g
                            percent_of_daily_needs: 3.79
                          - name: Copper
                            amount: 0.02
                            unit: mg
                            percent_of_daily_needs: 2.01
                          - name: Caffeine
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Vitamin E
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 0.94
                          - name: Sugar
                            amount: 0.57
                            unit: g
                            percent_of_daily_needs: 10.69
                          - name: Manganese
                            amount: 0.06
                            unit: mg
                            percent_of_daily_needs: 2.93
                          - name: Poly Unsaturated Fat
                            amount: 0.01
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Alcohol
                            amount: 0
                            unit: g
                            percent_of_daily_needs: 100
                          - name: Fat
                            amount: 0.73
                            unit: g
                            percent_of_daily_needs: 11.15
                          - name: Vitamin D
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Folic Acid
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                          - name: Choline
                            amount: 0.18
                            unit: mg
                            percent_of_daily_needs: 0
                          - name: Vitamin B3
                            amount: 0.03
                            unit: mg
                            percent_of_daily_needs: 0.44
                          - name: Carbohydrates
                            amount: 0.99
                            unit: g
                            percent_of_daily_needs: 3.62
                          - name: Potassium
                            amount: 7
                            unit: mg
                            percent_of_daily_needs: 2.35
                          - name: Iron
                            amount: 0.06
                            unit: mg
                            percent_of_daily_needs: 0.53
                          - name: Phosphorus
                            amount: 4.26
                            unit: mg
                            percent_of_daily_needs: 6.1
                          - name: Vitamin A
                            amount: 2.04
                            unit: IU
                            percent_of_daily_needs: 4.06
                          - name: Calcium
                            amount: 3.68
                            unit: mg
                            percent_of_daily_needs: 6.6
                          - name: Fiber
                            amount: 0.42
                            unit: g
                            percent_of_daily_needs: 1.66
                          - name: Vitamin C
                            amount: 0.06
                            unit: mg
                            percent_of_daily_needs: 0.69
                          - name: Folate
                            amount: 1.52
                            unit: µg
                            percent_of_daily_needs: 0.81
                          - name: Sodium
                            amount: 0.32
                            unit: mg
                            percent_of_daily_needs: 1.82
                          - name: Cholesterol
                            amount: 0
                            unit: mg
                            percent_of_daily_needs: 6.61
                          - name: Mono Unsaturated Fat
                            amount: 0.06
                            unit: g
                            percent_of_daily_needs: 0
                          - name: Calories
                            amount: 10.5
                            unit: kcal
                            percent_of_daily_needs: 12.23
                          - name: Vitamin B12
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 1.8
                          - name: Selenium
                            amount: 0.03
                            unit: µg
                            percent_of_daily_needs: 2.64
                          - name: Lycopene
                            amount: 0
                            unit: µg
                            percent_of_daily_needs: 0
                        caloric_breakdown:
                          percent_carbs: 37.36
                          percent_protein: 6.51
                          percent_fat: 56.13
                        weight_per_serving:
                          amount: 228
                          unit: g
                      flavors:
                      - creamy
                      - spicy
                      - sour
                      - sweet
                      glass_type: wine glass
                      description: The Vodka Fizz has a unique and intriguing taste profile. The vodka
                        provides a robust and slightly sharp alcohol base, while the half-and-half introduces
                        a creamy and smooth texture. The limeade adds a refreshing tangy sweetness with
                        a citrusy zest, balancing the richness of the cream. The ice dilutes and chills
                        the drink, making it more refreshing, and the nutmeg adds a subtle spiciness and
                        aromatic warmth. Overall, this cocktail is a blend of creamy, tangy, slightly
                        sweet, and mildly spicy flavors. If you enjoy complex drinks with a combination
                        of creamy and citrusy notes, this cocktail might be a delightful choice.
                      cuisines: []
                      ingredients:
                      - id: 14051
                        aisle: Alcoholic Beverages
                        image: https://img.spoonacular.com/ingredients_100x100/vodka.jpg
                        consistency: LIQUID
                        name: vodka
                        original: 2 oz Vodka
                        amount: 2
                        unit: oz
                        meta: []
                        measures:
                          us:
                            amount: 2
                            unit_short: oz
                            unit_long: ounces
                          metric:
                            amount: 56.699
                            unit_short: g
                            unit_long: grams
                        original_name: Vodka
                        name_clean: vodka
                      - id: 1049
                        aisle: Milk, Eggs, Other Dairy
                        image: https://img.spoonacular.com/ingredients_100x100/fluid-cream.jpg
                        consistency: SOLID
                        name: half-and-half
                        original: 2 oz Half-and-half
                        amount: 2
                        unit: oz
                        meta: []
                        measures:
                          us:
                            amount: 2
                            unit_short: oz
                            unit_long: ounces
                          metric:
                            amount: 56.699
                            unit_short: g
                            unit_long: grams
                        original_name: Half-and-half
                        name_clean: half and half
                      - id: 99185
                        aisle: Beverages
                        image: https://img.spoonacular.com/ingredients_100x100/limeade.jpg
                        consistency: SOLID
                        name: limeade
                        original: 2 oz Limeade
                        amount: 2
                        unit: oz
                        meta: []
                        measures:
                          us:
                            amount: 2
                            unit_short: oz
                            unit_long: ounces
                          metric:
                            amount: 56.699
                            unit_short: g
                            unit_long: grams
                        original_name: Limeade
                        name_clean: limeade
                      - id: 10014412
                        aisle: Frozen
                        image: https://img.spoonacular.com/ingredients_100x100/ice-cubes.png
                        consistency: SOLID
                        name: ice
                        original: Ice
                        amount: 1
                        unit: serving
                        meta: []
                        measures:
                          us:
                            amount: 1
                            unit_short: serving
                            unit_long: serving
                          metric:
                            amount: 1
                            unit_short: serving
                            unit_long: serving
                        original_name: Ice
                        name_clean: ice
                      - id: 2025
                        aisle: Spices and Seasonings
                        image: https://img.spoonacular.com/ingredients_100x100/ground-nutmeg.jpg
                        consistency: SOLID
                        name: nutmeg
                        original: Nutmeg
                        amount: 1
                        unit: serving
                        meta: []
                        measures:
                          us:
                            amount: 1
                            unit_short: serving
                            unit_long: serving
                          metric:
                            amount: 1
                            unit_short: serving
                            unit_long: serving
                        original_name: Nutmeg
                        name_clean: nutmeg
                      instructions:
                      - name: ''
                        steps:
                        - number: 1
                          step: Blend all ingredients, save nutmeg.
                          ingredients:
                          - id: 2025
                            name: nutmeg
                            image: https://img.spoonacular.com/ingredients_100x100/ground-nutmeg.jpg
                          equipment: []
                        - number: 2
                          step: Pour into large white wine glass and sprinkle nutmeg on top.
                          ingredients:
                          - id: 14106
                            name: white wine
                            image: https://img.spoonacular.com/ingredients_100x100/white-wine.jpg
                          - id: 2025
                            name: nutmeg
                            image: https://img.spoonacular.com/ingredients_100x100/ground-nutmeg.jpg
                          equipment: []
                      credits:
                        source_name: thecocktaildb.com
                        source_url: https://www.thecocktaildb.com/drink/16967
                        text: drinkhero
                    total_results: 14
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: query
        description: The search query.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: vodka
        required: false
        style: form
        explode: false
        in: query
      - name: glass-types
        description: A comma-separated list (interpreted as OR) of glass types that the drink should be
          served in.
        schema:
          pattern: .
          maxLength: 200
          type: string
          example: Highball Glass
        required: false
        style: form
        explode: false
        in: query
      - name: flavors
        description: A comma-separated list (interpreted as AND) of dominant flavors in the drink.
        schema:
          pattern: .
          maxLength: 200
          type: string
          example: sour,sweet
        required: false
        style: form
        explode: false
        in: query
      - name: diet
        description: 'The diet the drink must adhere to. One of the following: paleo,primal,grain-free,vegan,vegetarian.'
        schema:
          pattern: .
          maxLength: 30
          type: string
          example: paleo
        required: false
        style: form
        explode: false
        in: query
      - name: include-ingredients
        description: A comma-separated list of ingredients that should/must be used in the drinks.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: orange
        required: false
        style: form
        explode: false
        in: query
      - name: exclude-ingredients
        description: A comma-separated list of ingredients or ingredient types that the drinks must not
          contain.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: vodka
        required: false
        style: form
        explode: false
        in: query
      - name: min-calories
        description: The minimum amount of calories the drink must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
      - name: max-calories
        description: The maximum amount of calories the drink can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 655
        required: false
        style: form
        explode: false
        in: query
      - name: min-carbs
        description: The minimum amount of carbohydrates in grams the drink must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-carbs
        description: The maximum amount of carbohydrates in grams the drink can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-protein
        description: The minimum amount of protein in grams the drink must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-protein
        description: The maximum amount of protein in grams the drink can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-fat
        description: The minimum amount of fat in grams the drink must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-fat
        description: The maximum amount of fat in grams the drink can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-alcohol-percent
        description: The minimum alcohol percentage the drink must have.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10
        required: false
        style: form
        explode: false
        in: query
      - name: max-alcohol-percent
        description: The maximum alcohol percentage the drink can have.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 35
        required: false
        style: form
        explode: false
        in: query
      - name: min-caffeine
        description: The minimum amount of caffeine in milligrams the drink must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-caffeine
        description: The maximum amount of caffeine in milligrams the drink can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: sort
        description: The attribute by which to sort the drinks.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: calories
        required: false
        style: form
        explode: false
        in: query
      - name: sort-direction
        description: Whether to sort ascending or descending (ASC or DESC).
        schema:
          pattern: .
          maxLength: 4
          type: string
          example: ASC
        required: false
        style: form
        explode: false
        in: query
      - name: offset
        description: The number of drinks to skip, between 0 and 90.
        schema:
          format: int32
          minimum: 0
          maximum: 90
          type: integer
          example: 0
        required: false
        style: form
        explode: false
        in: query
      - name: number
        description: The number of drinks, between 1 and 10.
        schema:
          format: int32
          minimum: 1
          maximum: 10
          type: integer
          example: 3
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-drinks-api/
      summary: Search Drinks API
      tags:
      - Food
      description: Search for drinks by title, ingredients, flavor, type of glass, alcohol content, and
        more.
      operationId: searchDrinksAPI
      deprecated: false
  /search-recipes:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                  number:
                    type: integer
                  recipes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                          nullable: true
                        images:
                          type: array
                          items:
                            type: string
                            nullable: true
                        nutrition:
                          type: object
                          properties:
                            nutrients:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    nullable: true
                                  amount:
                                    type: number
                                  unit:
                                    type: string
                                    nullable: true
                  total_results:
                    type: integer
              examples:
                Response:
                  value:
                    offset: 0
                    number: 3
                    recipes:
                    - id: 654913
                      title: Pasta With Chicken and Mushrooms
                      images:
                      - https://img.spoonacular.com/recipes/654913-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 36.1306
                          unit: g
                    - id: 655582
                      title: Penne Pasta With Chicken And Mushrooms
                      images:
                      - https://img.spoonacular.com/recipes/655582-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 40.6552
                          unit: g
                    - id: 1096241
                      title: Spaghetti with Peas, Mushrooms, and Tomato Sauce
                      images:
                      - https://img.spoonacular.com/recipes/1096241-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 39.1976
                          unit: g
                    total_results: 18
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '406':
          description: Not Acceptable
        '429':
          description: Too Many Requests
      parameters:
      - name: query
        description: The search query.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: pasta with mushrooms but without nuts
        required: false
        style: form
        explode: false
        in: query
      - name: cuisines
        description: The cuisine(s) of the recipes. One or more, comma-separated (will be interpreted
          as 'OR').
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: mexican
        required: false
        style: form
        explode: false
        in: query
      - name: exclude-cuisines
        description: The cuisine(s) the recipes must not match. One or more, comma-separated (will be
          interpreted as 'AND').
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: indian,japanese
        required: false
        style: form
        explode: false
        in: query
      - name: meal-type
        description: 'The type of the recipe, one of: main course,side dish,dessert,appetizer,salad,bread,breakfast,soup,beverage,sauce,drink.'
        schema:
          pattern: .
          maxLength: 30
          type: string
          example: dessert
        required: false
        style: form
        explode: false
        in: query
      - name: diet
        description: 'The diet the recipes must adhere to. One of the following: paleo,primal,grain-free,pescetarian,lacto
          vegetarian,ovo vegetarian,vegan,vegetarian.'
        schema:
          pattern: .
          maxLength: 30
          type: string
          example: paleo
        required: false
        style: form
        explode: false
        in: query
      - name: intolerances
        description: A comma-separated list of intolerances. All recipes returned must not contain ingredients
          that are not suitable for people with the intolerances entered.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: gluten,dairy,shellfish
        required: false
        style: form
        explode: false
        in: query
      - name: equipment
        description: The equipment required. Multiple values will be interpreted as 'OR'.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: blender,frying pan,bowl
        required: false
        style: form
        explode: false
        in: query
      - name: include-ingredients
        description: A comma-separated list of ingredients that should/must be used in the recipes.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: tomato,cheese
        required: false
        style: form
        explode: false
        in: query
      - name: exclude-ingredients
        description: A comma-separated list of ingredients or ingredient types that the recipes must not
          contain.
        schema:
          pattern: .
          maxLength: 300
          type: string
          example: olives,capers
        required: false
        style: form
        explode: false
        in: query
      - name: fill-ingredients
        description: Add information about the ingredients and whether they are used or missing in relation
          to the query.
        schema:
          type: boolean
          example: true
        required: false
        style: form
        explode: false
        in: query
      - name: add-recipe-information
        description: If set to true, you get more information about the recipes returned.
        schema:
          type: boolean
          example: true
        required: false
        style: form
        explode: false
        in: query
      - name: max-time
        description: The maximum time in minutes it should take to prepare and cook the recipe.
        schema:
          format: int32
          minimum: 0
          maximum: 10000
          type: integer
          example: 45
        required: false
        style: form
        explode: false
        in: query
      - name: min-servings
        description: The minimum amount of servings the recipe is for.
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 1
        required: false
        style: form
        explode: false
        in: query
      - name: max-servings
        description: The maximum amount of servings the recipe is for.
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 8
        required: false
        style: form
        explode: false
        in: query
      - name: min-calories
        description: The minimum amount of calories the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 100
        required: false
        style: form
        explode: false
        in: query
      - name: max-calories
        description: The maximum amount of calories the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 655
        required: false
        style: form
        explode: false
        in: query
      - name: min-carbs
        description: The minimum amount of carbohydrates in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-carbs
        description: The maximum amount of carbohydrates in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-protein
        description: The minimum amount of protein in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-protein
        description: The maximum amount of protein in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-fat
        description: The minimum amount of fat in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-fat
        description: The maximum amount of fat in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-sugar
        description: The minimum amount of sugar in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-sugar
        description: The maximum amount of sugar in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-fiber
        description: The minimum amount of fiber in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-fiber
        description: The maximum amount of fiber in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-folate
        description: The minimum amount of folate in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-folate
        description: The maximum amount of folate in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-folic-acid
        description: The minimum amount of folic acid in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-folic-acid
        description: The maximum amount of folic acid in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-iodine
        description: The minimum amount of iodine in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-iodine
        description: The maximum amount of iodine in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-iron
        description: The minimum amount of iron in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-iron
        description: The maximum amount of iron in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-zinc
        description: The minimum amount of zinc in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-zinc
        description: The maximum amount of zinc in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-magnesium
        description: The minimum amount of magnesium in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-magnesium
        description: The maximum amount of magnesium in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-manganese
        description: The minimum amount of manganese in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-manganese
        description: The maximum amount of manganese in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-phosphorus
        description: The minimum amount of phosphorus in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-phosphorus
        description: The maximum amount of phosphorus in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-potassium
        description: The minimum amount of potassium in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-potassium
        description: The maximum amount of potassium in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-sodium
        description: The minimum amount of sodium in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-sodium
        description: The maximum amount of sodium in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-selenium
        description: The minimum amount of selenium in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-selenium
        description: The maximum amount of selenium in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-copper
        description: The minimum amount of copper in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-copper
        description: The maximum amount of copper in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-calcium
        description: The minimum amount of calcium in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-calcium
        description: The maximum amount of calcium in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-choline
        description: The minimum amount of choline in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-choline
        description: The maximum amount of choline in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-cholesterol
        description: The minimum amount of cholesterol in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-cholesterol
        description: The maximum amount of cholesterol in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-fluoride
        description: The minimum amount of fluoride in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-fluoride
        description: The maximum amount of fluoride in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-alcohol
        description: The minimum amount of alcohol in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 10.1
        required: false
        style: form
        explode: false
        in: query
      - name: max-alcohol
        description: The maximum amount of alcohol in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 25.5
        required: false
        style: form
        explode: false
        in: query
      - name: min-caffeine
        description: The minimum amount of caffeine in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-caffeine
        description: The maximum amount of caffeine in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-saturated-fat
        description: The minimum amount of saturated fat in grams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-saturated-fat
        description: The maximum amount of saturated fat in grams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-a
        description: The minimum amount of Vitamin A in IU the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-a
        description: The maximum amount of Vitamin A in IU the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-c
        description: The minimum amount of Vitamin C in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-c
        description: The maximum amount of Vitamin C in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-d
        description: The minimum amount of Vitamin D in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-d
        description: The maximum amount of Vitamin D in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-e
        description: The minimum amount of Vitamin E in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-e
        description: The maximum amount of Vitamin E in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-k
        description: The minimum amount of Vitamin K in micrograms the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-k
        description: The maximum amount of Vitamin K in micrograms the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b1
        description: The minimum amount of Vitamin B1 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b1
        description: The maximum amount of Vitamin B1 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b2
        description: The minimum amount of Vitamin B2 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b2
        description: The maximum amount of Vitamin B2 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b3
        description: The minimum amount of Vitamin B3 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b3
        description: The maximum amount of Vitamin B3 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b5
        description: The minimum amount of Vitamin B5 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b5
        description: The maximum amount of Vitamin B5 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b6
        description: The minimum amount of Vitamin B6 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b6
        description: The maximum amount of Vitamin B6 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: min-vitamin-b12
        description: The minimum amount of Vitamin B12 in milligrams the recipe must have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 30.4
        required: false
        style: form
        explode: false
        in: query
      - name: max-vitamin-b12
        description: The maximum amount of Vitamin B12 in milligrams the recipe can have per serving.
        schema:
          format: double
          minimum: 0
          maximum: 99999
          type: number
          example: 80.9
        required: false
        style: form
        explode: false
        in: query
      - name: sort
        description: The strategy to sort recipes by.
        schema:
          pattern: .
          maxLength: 100
          type: string
          example: meta-score
        required: false
        style: form
        explode: false
        in: query
      - name: sort-direction
        description: Whether to sort ascending or descending (ASC or DESC).
        schema:
          pattern: .
          maxLength: 4
          type: string
          example: ASC
        required: false
        style: form
        explode: false
        in: query
      - name: offset
        description: The number of recipes to skip, between 0 and 900.
        schema:
          format: int32
          minimum: 0
          maximum: 900
          type: integer
          example: 0
        required: false
        style: form
        explode: false
        in: query
      - name: number
        description: The number of recipes, between 1 and 100.
        schema:
          format: int32
          minimum: 1
          maximum: 100
          type: integer
          example: 3
        required: false
        style: form
        explode: false
        in: query
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-recipes-api/
      summary: Search Recipes API
      tags:
      - Food
      description: Search and filter thousands of recipes with natural language, e.g. pasta recipes without
        mushrooms but with truffles. You can filter by ingredients, diet, cuisine, meal type, macro and
        micro nutrition, intolerances, and much more.
      operationId: searchRecipesAPI
      deprecated: false
  /retrieve-recipe:
    get:
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                    nullable: true
                  servings:
                    type: integer
                  images:
                    type: array
                    items:
                      type: string
                      nullable: true
                  dietary_properties:
                    type: object
                    properties:
                      vegetarian:
                        type: boolean
                      vegan:
                        type: boolean
                      gluten_free:
                        type: boolean
                      dairy_free:
                        type: boolean
                      low_fodmap:
                        type: boolean
                      gaps:
                        type: string
                        nullable: true
                      diets:
                        type: array
                        items:
                          type: string
[...]
